@charset "UTF-8";
/*------------Обнуление стилей---------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------------Обнуление стилей---------------*/
/*-----------------Блок Main----------------*/
.main {
  background-color: #87509c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1440px;
  height: 596px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 1100px;
  margin: 0 auto;
  padding: 0px;
}

@media (max-width: 1100px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 58px;
  margin-bottom: 145px;
}

.header__logo img {
  width: 118px;
  height: 37px;
}

.header__menu li {
  display: inline-block;
  padding: 7px 15px;
  margin-left: 5px;
}

.header__menu li:hover {
  background-color: #643a79;
  border-radius: 6px;
}

.header__menu-link {
  font-family: 'Titillium Web';
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 970px) {
  .header__menu-link {
    font-size: 14px;
  }
}

.text {
  font-family: 'Titillium Web';
  font-size: 42.2px;
  line-height: 48px;
  font-weight: 700;
  color: #f7f3ea;
  margin: 0 auto;
  width: 910px;
  height: 88px;
  text-align: center;
  margin-bottom: 55px;
}

@media (max-width: 992px) {
  .text {
    width: 700px;
    font-size: 32px;
  }
}

.main-link {
  background-color: #eb7d4b;
  font-family: 'Titillium Web';
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 0.6px #c86a40;
          box-shadow: 0px 4px 0.6px #c86a40;
}

.btn {
  width: 293px;
  height: 70px;
}

/*-------------------------Блок Services------------------*/
.services {
  background-color: #17c2a4;
  min-height: 747px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1440px;
}

.content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 80px;
}

.content-top__title {
  font-family: 'Titillium Web';
  font-size: 40px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.content-top__title::after {
  content: '';
  height: 4px;
  display: block;
  width: 87px;
  margin-top: 20px;
  background-color: #111;
  opacity: 0.14;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-top__subtitle {
  font-family: 'Titillium Web';
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 197px;
  height: 350px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .column {
    margin-right: 60px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.column:last-child {
  margin-right: 0px;
}

.column__image {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 160px;
  height: 140px;
  text-align: center;
}

.column__image img {
  max-width: 100%;
}

.column__title {
  font-family: 'Titillium Web';
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #ffffff;
  height: 22px;
  text-align: center;
}

@media (max-width: 1100px) {
  .column__title {
    font-size: 22px;
  }
}

.column__text {
  font-family: 'Titillium Web';
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 28px;
  text-align: center;
  min-height: 64px;
}

@media (max-width: 1100px) {
  .column__text {
    font-size: 14px;
  }
}
